.main{
    background-color:var(--azul-Claro);
    color: white;
    padding: 59px 157px;
}

.main__title{
    margin: 0;
    font-size: 50px;
    font-weight: 900;
}

.main__text{
    margin: 29px 0 62px;
    font-size: 20px;
}

.main__container-section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.main__whatIsIt,
.main__howToHelp{
    border-radius: 100px;
    background-color: white;
    color: black;
    font-size: 18px;
}

.main__whatIsIt{
    width: 439px;
    height: 194px;

    padding: 16px 28px;
}

.main__howToHelp{
    width: 494px;
    height: 222px;

    padding: 8px 56px;
    margin: 33px 63px;

    
}

.main__whatIsIt-title{
    font-size: 20px;
}

